.container
  #sign-up
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.label :email
      = f.email_field :email, :autofocus => true

      = f.label :password
      = f.password_field :password

      = f.label :password_confirmation
      = f.password_field :password_confirmation

      = f.label :native_language_id
      = f.select :native_language_id, Language.all.map { |e| [e.name, e.id] } 

      = f.submit "Sign up", class: 'btn btn-primary btn-large'
    = render "devise/shared/links"
